<!-- this form displays data from json--> 
<mat-accordion>
    <mat-expansion-panel *ngFor = "let main of mains$">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{main.title}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      <div *ngFor="let photo of photos$">
       <div *ngIf = "photo.id == main.id;other" > {{photo.completed}}  <br>
        <button mat-raised-button color="primary" (click)="mySave(photo.title, photo.completed)">Save</button>
     </div>
      
        </div>  
    </mat-expansion-panel>
  </mat-accordion>

