<mat-selection-list #todos>
    <mat-list-item  *ngFor="let todo of todos$ |async">
    <mat-list-option>
        <span>
        {{todo.title}}
        </span>
        </mat-list-option>
      </mat-list-item>
     
    </mat-selection-list>
    
    <p>
      Options selected: {{todos.selectedOptions.selected.length}}
    </p>